header:not(.default),
main:not(.default),
footer:not(.default) {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  nav{
    width: calc(100% - 300px) !important;
  }

  header,
  main,
  footer {
    padding-left: 0;
  }
}

#sidenav-overlay { display: none !important; }

.pointer{
  cursor: pointer;
}
