<app-card [sizes]="'s12'" *ngIf="!loading" >
    <h2 class="card-title">
      {{ transactionCategory?.label }}
      <a class="secondary-content" [routerLink]="['/transaction-category', transactionCategory?.id, 'edit']"><i class="material-icons">edit</i></a>
    </h2>
    <div class="card-body row">
      <div class="col s6">
        Tipo: {{ transactionType[transactionCategory?.transaction_type] }}
      </div>
      <div class="col s6">
        Saldo: {{ transactionCategory?.balance | currency:'BRL':true }}
      </div>
      <div class="col s12">
        Descrição: {{ transactionCategory?.description }}
      </div>

    </div>
  </app-card>

  <app-transaction-list *ngIf="!loading" [categoryId]="[transactionCategory?.id]"></app-transaction-list>
