<ul class="collection">
  <li class="collection-item pointer" *ngFor="let wallet of wallets" [routerLink]="['/wallets', wallet.id]">
    <h5 class="title">
      {{ wallet.label }}
      <a class="secondary-content" [routerLink]="['/wallets', wallet?.id, 'edit']"><i class="material-icons">edit</i></a>
    </h5>
    <p>
      Saldo: R$ {{ wallet.balance }}
    </p>
  </li>
</ul>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large red" [routerLink]="['/wallets', 'add']">
    <i class="large material-icons">add</i>
  </a>
</div>
