<app-card [sizes]="'s12'" *ngIf="!loading" >
  <h2 class="card-title">
    {{ wallet?.label }}
    <a class="secondary-content" [routerLink]="['/wallets', wallet?.id, 'edit']"><i class="material-icons">edit</i></a>
  </h2>
  <div class="card-body row">
    <div class="col s4">
      Agencia: {{ wallet?.agency }}
    </div>
    <div class="col s4">
      Numero: {{ wallet?.agency }}
    </div>
    <div class="col s4">
      Saldo: R$ {{ wallet?.balance }}
    </div>
    <div class="col s12">
      {{ wallet?.description }}
    </div>
  </div>
</app-card>

<app-transaction-list *ngIf="!loading" [walletId]="[wallet?.id]"></app-transaction-list>
