<app-card [sizes]="['s12']">
  <h1 class="card-title">Categorias de transações</h1>
  <div class="card-body">
    <ul class="collection">
      <li class="collection-item pointer" *ngFor="let transactionCategory of transactionsCategories" [routerLink]="['/transaction-category', transactionCategory.id]">
        <div>
          <i class="material-icons green-text" *ngIf="transactionCategory.transaction_type == 1">attach_money</i>
          <i class="material-icons red-text" *ngIf="transactionCategory.transaction_type == 2">money_off</i> {{ transactionCategory.label }}
          <a class="secondary-content" [routerLink]="['/transaction-category', transactionCategory?.id, 'edit']"><i class="material-icons">edit</i></a>
        </div>
      </li>
    </ul>
    <app-pagination [page]="page"></app-pagination>
  </div>
</app-card>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large red" [routerLink]="['/transaction-category', 'add']">
      <i class="large material-icons">add</i>
    </a>
</div>
