<ul id="slide-out" class="side-nav fixed" materialize="sideNav">
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <div class="user-view">
          <div class="background">
            <img src="http://lorempixel.com/400/400/abstract">
          </div>
          <a href="#!user"><img class="circle" src="http://lorempixel.com/300/300/people"></a>
          <a href="#!name"><span class="white-text name">John Does</span></a>
          <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
        </div>
      </li>
      <li routerLinkActive="active"><a routerLink="/home" class="pointer">Home</a></li>
      <li routerLinkActive="active">
        <a class="collapsible-header">Financeiro<i class="material-icons">arrow_drop_down</i></a>
        <div class="collapsible-body">
          <ul>
            <li routerLinkActive="active"><a routerLink="/wallets">Carteiras</a></li>
            <li routerLinkActive="active"><a routerLink="/transaction-category">Categorias</a></li>
            <li><a href="#!">Transações</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
</ul>
