<ul id="slide-out" class="side-nav fixed" materialize="sideNav">
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion" [materialize]="['collapsible']">
      <li>
        <div class="user-view">
          <div class="background">
            <img src="http://lorempixel.com/400/400/abstract">
          </div>
          <a href="#!user"><img class="circle" src="http://lorempixel.com/300/300/people"></a>
          <a href="#!name"><span class="white-text name">{{ user.first_name || user.username }}</span></a>
          <a href="#!email"><span class="white-text email">{{ user.email }}</span></a>
        </div>
      </li>
      <li routerLinkActive="active"><a routerLink="/home" class="pointer">Home</a></li>
      <li>
        <a class="collapsible-header" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Financeiro<i class="material-icons">arrow_drop_down</i></a>
        <div class="collapsible-body">
          <ul>
            <li routerLinkActive="active"><a routerLink="/wallets">Carteiras</a></li>
            <li routerLinkActive="active"><a routerLink="/transaction-category">Categorias</a></li>
            <li routerLinkActive="active"><a routerLink="/transactions">Transações</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a class="collapsible-header" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Recursos Humanos<i class="material-icons">arrow_drop_down</i></a>
        <div class="collapsible-body">
          <ul>
            <li routerLinkActive="active"><a routerLink="/sd">Carteiras</a></li>
            <li routerLinkActive="active"><a routerLink="/asd">Categorias</a></li>
            <li routerLinkActive="active"><a routerLink="/asd">Transações</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
</ul>
