<app-card [sizes]="'s12'">
  <h2 class="card-title">Transações <span class="secondary-content pointer"><i class="material-icons left" (click)="export_csv()">cloud_download</i> <small><small>Download CSV</small></small> </span></h2>
  <div class="card-body">
    <ul class="collection">
      <li class="collection-item pointer" *ngFor="let transaction of transactions" [routerLink]="['/transactions', transaction.id, 'edit']">
        <div>
          <i class="material-icons green-text" *ngIf="transaction.category.transaction_type == 1">attach_money</i>
          <i class="material-icons red-text" *ngIf="transaction.category.transaction_type == 2">money_off</i> R$ {{ transaction.value}}
          <span class="secondary-content" *ngIf="transaction.done"><i class="material-icons secondary-content">done</i></span>
          <span class="secondary-content" *ngIf="!transaction.done"><i class="material-icons">close</i></span>
        </div>
      </li>
    </ul>
    <app-pagination [page]="page">
    </app-pagination>
  </div>
</app-card>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large red" [routerLink]="['/transactions', 'add']">
      <i class="large material-icons">add</i>
    </a>
</div>
